#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.Main-head{
  display: flex;
}
.Top,.Top1{
  display: flex;
  width:100%;
  justify-content: space-between;
}

.Top1{
  border: 1px solid rgb(144, 144, 144);
  border-radius: 20px;
  background-color: rgb(144, 144, 144);

}

.Top-buttons,.Top-buttons1{
  display: flex;
  align-items: center;
  width:20%;
  justify-content: space-between;
}
select{
  height:40px;
  width: 100px;
  border-radius: 20px;
}
.Header{
  display: grid;
  grid-template-columns: repeat(7,1fr);
}
.today{
  background-color: #1400ec;
  color: white;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.App{
  display: grid;
  grid-template-columns: repeat(7,1fr);
  gap:10px;
}
.Extra-one{
  background-color: rgb(71, 71, 71);
}

.wrap-it{
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

::-webkit-scrollbar{
  display: none;
}
.App>div{
  border: 1px solid grey;
  border-radius: 20px;
  height:100px;
  width:150px;
  cursor: pointer;
}
.App>div:hover{
  background-color: powderblue;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
