#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.Main-head{
  display: flex;
}
.Top{
  display: flex;
  width:100%;
  border: 1px solid red;
  justify-content: space-between;
}
.Top>div{
  border: 1px solid black;
}
.Top-buttons{
  display: flex;
  border: 1px solid black;
  align-items: center;
  width:20%;
  justify-content: space-between;
}
select{
  height:40px;
  width: 100px;
  border-radius: 20px;
}
.Header{
  display: grid;
  grid-template-columns: repeat(7,1fr);
}
.today{
  background-color: white;
  color: #000;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.App{
  display: grid;
  grid-template-columns: repeat(7,1fr);
}
.App>div{
  border: 1px solid red;
  height:100px;
  width:150px;

}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
